# Byte-compiled / optimized / DLL files
__pycache__/
# *.py[cod]
# *$py.class

# Virtual environment
venv/

# Database file
BlogPost.db

# Uploaded files
static/uploads/

# IDE-specific files
.idea/
.vscode/
.env

# OS files
.DS_Store
Thumbs.db

.env

